<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="Cache" content="no-cache">
    <title>屏幕设计器</title>
    <link rel="stylesheet" href="../resources/css/reset.css" />
    <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.css" />
    <script src="../resources/js/jquery-1.9.1.min.js"></script>
    <script src="../System/Assembly.js"></script>
    <script src="../System/Net/WebSocketClient.js"></script>
    <script src="../resources/js/HtmlControl.js"></script>
    <script src="../resources/js/ListBox.js"></script>
    <script src="../resources/js/VideoControl.js"></script>
    <script src="../resources/js/QueueInfo.js"></script>
</head>
<body>
    <div id="canvas" class="wrap">

    </div>
</body>
</html>

<script>
    HtmlView.DesignMode = true;
    var canvas = $("#canvas");
    var View = view = HtmlView.New(canvas);
    view.Name = "HtmlView";
    
    if (sessionStorage.getItem("con")) {
        var controls = sessionStorage.getItem('con');
        controls = JSON.parse(controls);
        View.ResumeLayout(controls);
    }
</script>